# fabric8-env specific artifacts
/debug
**/debug.test

# Binaries for programs and plugins
bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vendored deps are not kept in git
vendor

# generate assets
app
swagger
migration/sqlbindata.go
migration/sqlbindata_test.go

# tmp dir
tmp
